body{
    background-color: black;
    margin: 0;
    padding: 0;
}

.opening{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #0796d9, #2bd7ea);
    display: grid;
    place-items: center;
    animation: open 4s ease-in-out forwards;
    z-index: 10;
}

.logo {
    font-size: 10rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    letter-spacing: 20px;
    font-family:'Times New Roman', Times, serif;
}

.text-left {
    opacity: 0;
    animation: slideLeft 1.2s ease-out forwards;
}

.text-right {
    opacity: 0;
    animation: slideRight 1.2s ease-out forwards;
    animation-delay: 1.2s;
}

.img {
    width: 120px;
    height: 120px;
    opacity: 0;
    animation:
        slideRight 1.2s ease-out forwards,
        spinZoom 2.5s ease-in-out forwards;
    animation-delay:
        0s,
        1.2s;
}

.main{
    opacity: 0;
    animation: Main 0.4s ease-in-out forwards;
    animation-delay: 3.2s;
}

@keyframes spinZoom {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: scale(3) rotate(720deg);
        opacity: 1;
    }
    75%{
        transform: scale(80) rotate(1440deg);
        opacity: 0.5;
    }
    100% {
        transform: scale(80) rotate(1440deg);
        opacity: 0;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomExplode {
    0% {
        transform: translateX(0) scale(1) rotate(0deg);
        opacity: 1;
    }
    70% {
        opacity: 0.9;
    }
    100% {
        transform: scale(80) rotate(1080deg);
        opacity: 0;
    }
}

@keyframes open{
    0%{ opacity: 1; }
    65%{ opacity: 0.9; }
    75%{ opacity: 0.1; }
    100%{ opacity: 0; visibility: hidden; }
}

@keyframes Main {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
